doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.6.3.min')
    script(src='/javascripts/script.js')
    script(src='/javascripts/live.js')
  body
    block content
